/* English = Registration div 
   Geometry = Registration Form div
   Algebra = Login div 
   Logic = Login Form
*/

* {
    
}
.wrapper {
    margin: auto;
    border: 40px solid black;
    padding-bottom: 100px;
}
.english {
    width: 970px;
    height: auto;
    display: inline-block;
    margin-left: 200px;
}
.english h1{
    display: inline-block;
}
.geometry{
    display: inline-block;
    vertical-align: top;
    margin-right: 250px;
}
.algebra{
    display: inline-block;
    
}
.algebra h1{
    display: inline-block;
    
}

